@charset "utf-8";

@font-face {
  font-family: 'cncicon';
  src:  url('../font/cncicon.eot');
  src:  url('../font/cncicon.eot#iefix') format('embedded-opentype'),
    url('../font/cncicon.ttf') format('truetype'),
    url('../font/cncicon.woff') format('woff'),
    url('../font/cncicon.svg#cncicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cncicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow01:before {
  content: "\ea3f";
}
.icon-arrow02:before {
  content: "\ea40";
}
.icon-arrow03:before {
  content: "\ea41";
}
.icon-arrow04:before {
  content: "\ea42";
}
.icon-arrow05:before {
  content: "\ea43";
}
.icon-arrow06:before {
  content: "\ea44";
}
.icon-arrow07:before {
  content: "\ea45";
}
.icon-arrow08:before {
  content: "\ea46";
}
.icon-arrow09:before {
  content: "\ea47";
}
.icon-arrow10:before {
  content: "\ea48";
}
.icon-arrow11:before {
  content: "\ea49";
}
.icon-arrow12:before {
  content: "\ea4a";
}
.icon-arrow13:before {
  content: "\ea4b";
}
.icon-arrow14:before {
  content: "\ea4c";
}
.icon-arrow15:before {
  content: "\ea4d";
}
.icon-arrow16:before {
  content: "\ea4e";
}
.icon-arrow17:before {
  content: "\ea4f";
}
.icon-arrow18:before {
  content: "\ea50";
}
.icon-arrow19:before {
  content: "\ea51";
}
.icon-arrow20:before {
  content: "\ea52";
}
.icon-arrow21:before {
  content: "\ea53";
}
.icon-arrow22:before {
  content: "\ea54";
}
.icon-arrow23:before {
  content: "\ea55";
}
.icon-arrow24:before {
  content: "\ea56";
}
.icon-arrow25:before {
  content: "\ea57";
}
.icon-arrow26:before {
  content: "\ea58";
}
.icon-arrow27:before {
  content: "\ea59";
}
.icon-arrow28:before {
  content: "\ea5a";
}
.icon-arrow29:before {
  content: "\ea5b";
}
.icon-arrow30:before {
  content: "\ea5c";
}
.icon-arrow31:before {
  content: "\ea5d";
}
.icon-arrow32:before {
  content: "\ea5e";
}
.icon-arrow33:before {
  content: "\ea5f";
}
.icon-arrow34:before {
  content: "\ea60";
}
.icon-arrow35:before {
  content: "\ea61";
}
.icon-arrow36:before {
  content: "\ea62";
}
.icon-arrow37:before {
  content: "\ea63";
}
.icon-arrow38:before {
  content: "\ea64";
}
.icon-arrow39:before {
  content: "\ea65";
}
.icon-arrow40:before {
  content: "\ea66";
}
.icon-arrow41:before {
  content: "\ea67";
}
.icon-arrow42:before {
  content: "\ea68";
}
.icon-arrow43:before {
  content: "\ea69";
}
.icon-arrow44:before {
  content: "\ea6a";
}
.icon-arrow45:before {
  content: "\ea6b";
}
.icon-arrow46:before {
  content: "\ea6c";
}
.icon-arrow47:before {
  content: "\ea6d";
}
.icon-arrow48:before {
  content: "\ea6e";
}
.icon-arrow49:before {
  content: "\ea6f";
}
.icon-arrow50:before {
  content: "\ea70";
}
.icon-arrow51:before {
  content: "\ea71";
}
.icon-arrow52:before {
  content: "\ea72";
}
.icon-arrow53:before {
  content: "\ea73";
}
.icon-arrow54:before {
  content: "\ea74";
}
.icon-arrow55:before {
  content: "\ea75";
}
.icon-arrow56:before {
  content: "\ea76";
}
.icon-arrow57:before {
  content: "\ea77";
}
.icon-arrow58:before {
  content: "\ea78";
}
.icon-arrow59:before {
  content: "\ea79";
}
.icon-arrow60:before {
  content: "\ea7a";
}
.icon-arrow61:before {
  content: "\ea7b";
}
.icon-arrow62:before {
  content: "\ea7c";
}
.icon-arrow63:before {
  content: "\ea7d";
}
.icon-arrow64:before {
  content: "\ea7e";
}
.icon-arrow65:before {
  content: "\ea7f";
}
.icon-arrow66:before {
  content: "\ea80";
}
.icon-arrow67:before {
  content: "\ea81";
}
.icon-arrow68:before {
  content: "\ea82";
}
.icon-arrow69:before {
  content: "\ea83";
}
.icon-arrow70:before {
  content: "\ea84";
}
.icon-arrow71:before {
  content: "\ea85";
}
.icon-arrow72:before {
  content: "\ea86";
}
.icon-arrow73:before {
  content: "\ea87";
}
.icon-arrow74:before {
  content: "\ea88";
}
.icon-arrow75:before {
  content: "\ea89";
}
.icon-arrow76:before {
  content: "\ea8a";
}
.icon-arrow77:before {
  content: "\ea8b";
}
.icon-arrow78:before {
  content: "\ea8c";
}
.icon-arrow79:before {
  content: "\ea8d";
}
.icon-arrow80:before {
  content: "\ea8e";
}
.icon-arrow81:before {
  content: "\ea8f";
}
.icon-arrow82:before {
  content: "\ea90";
}
.icon-arrow83:before {
  content: "\ea91";
}
.icon-arrow84:before {
  content: "\ea92";
}
.icon-arrow85:before {
  content: "\ea93";
}
.icon-arrow86:before {
  content: "\ea94";
}
.icon-sign01:before {
  content: "\ea95";
}
.icon-sign02:before {
  content: "\ea96";
}
.icon-sign03:before {
  content: "\ea97";
}
.icon-sign04:before {
  content: "\ea98";
}
.icon-sign05:before {
  content: "\ea99";
}
.icon-sign06:before {
  content: "\ea9a";
}
.icon-sign07:before {
  content: "\ea9b";
}
.icon-sign08:before {
  content: "\ea9c";
}
.icon-sign09:before {
  content: "\ea9d";
}
.icon-sign10:before {
  content: "\ea9e";
}
.icon-sign11:before {
  content: "\ea9f";
}
.icon-sign12:before {
  content: "\eaa0";
}
.icon-sign13:before {
  content: "\eaa1";
}
.icon-sign14:before {
  content: "\eaa2";
}
.icon-sign15:before {
  content: "\eaa3";
}
.icon-sign16:before {
  content: "\eaa4";
}
.icon-sign17:before {
  content: "\eaa5";
}
.icon-sign18:before {
  content: "\eaa6";
}
.icon-sign19:before {
  content: "\eaa7";
}
.icon-sign20:before {
  content: "\eaa8";
}
.icon-sign21:before {
  content: "\eaa9";
}
.icon-sign22:before {
  content: "\eaaa";
}
.icon-sign23:before {
  content: "\eaab";
}
.icon-sign24:before {
  content: "\eaac";
}
.icon-sign25:before {
  content: "\eaad";
}
.icon-sign26:before {
  content: "\eaae";
}
.icon-sign27:before {
  content: "\eaaf";
}
.icon-sign28:before {
  content: "\eab0";
}
.icon-sign29:before {
  content: "\eab1";
}
.icon-sign30:before {
  content: "\eab2";
}
.icon-sign31:before {
  content: "\eab3";
}
.icon-sign32:before {
  content: "\eab4";
}
.icon-sign33:before {
  content: "\eab5";
}
.icon-sign34:before {
  content: "\eab6";
}
.icon-sign35:before {
  content: "\eab7";
}
.icon-sign36:before {
  content: "\eab8";
}
.icon-sign37:before {
  content: "\eab9";
}
.icon-sign38:before {
  content: "\eaba";
}
.icon-sign39:before {
  content: "\eabb";
}
.icon-sign40:before {
  content: "\eabc";
}
.icon-sign41:before {
  content: "\eabd";
}
.icon-sign42:before {
  content: "\eabe";
}
.icon-sign43:before {
  content: "\eabf";
}
.icon-sign44:before {
  content: "\eac0";
}
.icon-sign45:before {
  content: "\eac1";
}
.icon-sign46:before {
  content: "\eac2";
}
.icon-sign47:before {
  content: "\eac3";
}
.icon-sign48:before {
  content: "\eac4";
}
.icon-sign49:before {
  content: "\eac5";
}
.icon-sign50:before {
  content: "\eac6";
}
.icon-sign51:before {
  content: "\eac7";
}
.icon-sign52:before {
  content: "\eac8";
}
.icon-sign53:before {
  content: "\eac9";
}
.icon-sign54:before {
  content: "\eaca";
}
.icon-sign55:before {
  content: "\eacb";
}
.icon-sign56:before {
  content: "\eacc";
}
.icon-sign57:before {
  content: "\eacd";
}
.icon-sign58:before {
  content: "\eace";
}
.icon-sign59:before {
  content: "\eacf";
}
.icon-sign60:before {
  content: "\ead0";
}
.icon-sign61:before {
  content: "\ead1";
}
.icon-sign62:before {
  content: "\ead2";
}
.icon-sign63:before {
  content: "\ead3";
}
.icon-sign64:before {
  content: "\ead4";
}
.icon-sign65:before {
  content: "\ead5";
}
.icon-sign66:before {
  content: "\ead6";
}
.icon-sign67:before {
  content: "\ead7";
}
.icon-sign68:before {
  content: "\ead8";
}
.icon-sign69:before {
  content: "\ead9";
}
.icon-sign70:before {
  content: "\eada";
}
.icon-sign71:before {
  content: "\eadb";
}
.icon-sign72:before {
  content: "\eadc";
}
.icon-sign73:before {
  content: "\eadd";
}
.icon-sign74:before {
  content: "\eade";
}
.icon-sign75:before {
  content: "\eadf";
}
.icon-sign76:before {
  content: "\eae0";
}
.icon-sign77:before {
  content: "\eae1";
}
.icon-icon01:before {
  content: "\eb0b";
}
.icon-icon02:before {
  content: "\eb0c";
}
.icon-icon03:before {
  content: "\eb0d";
}
.icon-icon04:before {
  content: "\eb0e";
}
.icon-icon05:before {
  content: "\eb0f";
}
.icon-icon06:before {
  content: "\eb10";
}
.icon-icon07:before {
  content: "\eb11";
}
.icon-icon08:before {
  content: "\eb12";
}
.icon-icon09:before {
  content: "\eb13";
}
.icon-icon10:before {
  content: "\eb14";
}
.icon-icon11:before {
  content: "\eb15";
}
.icon-icon12:before {
  content: "\eb16";
}
.icon-icon13:before {
  content: "\eb17";
}
.icon-icon14:before {
  content: "\eb18";
}
.icon-icon15:before {
  content: "\eb19";
}
.icon-icon16:before {
  content: "\eb1a";
}
.icon-icon17:before {
  content: "\eb1b";
}
.icon-icon18:before {
  content: "\eb1c";
}
.icon-icon19:before {
  content: "\eb1d";
}
.icon-icon20:before {
  content: "\eb1e";
}
.icon-icon21:before {
  content: "\eb1f";
}
.icon-icon22:before {
  content: "\eb20";
}
.icon-icon23:before {
  content: "\eb21";
}
.icon-icon24:before {
  content: "\eb22";
}
.icon-icon25:before {
  content: "\eb23";
}
.icon-icon26:before {
  content: "\eb24";
}
.icon-icon27:before {
  content: "\eb25";
}
.icon-icon28:before {
  content: "\eb26";
}
.icon-icon29:before {
  content: "\eb27";
}
.icon-icon30:before {
  content: "\eb28";
}
.icon-icon31:before {
  content: "\eb29";
}
.icon-icon32:before {
  content: "\eb2a";
}
.icon-icon33:before {
  content: "\eb2b";
}
.icon-icon34:before {
  content: "\eb2c";
}
.icon-icon35:before {
  content: "\eb2d";
}
.icon-icon36:before {
  content: "\eb2e";
}
.icon-icon37:before {
  content: "\eb2f";
}
.icon-icon38:before {
  content: "\eb30";
}
.icon-icon39:before {
  content: "\eb31";
}
.icon-icon40:before {
  content: "\eb32";
}
.icon-icon41:before {
  content: "\eb33";
}
.icon-icon42:before {
  content: "\eb34";
}
.icon-icon43:before {
  content: "\eb35";
}
.icon-icon44:before {
  content: "\eb36";
}
.icon-icon45:before {
  content: "\eb37";
}
.icon-icon46:before {
  content: "\eb38";
}
.icon-icon47:before {
  content: "\eb39";
}
.icon-icon48:before {
  content: "\eb3a";
}
.icon-icon49:before {
  content: "\eb3b";
}
.icon-icon50:before {
  content: "\eb3c";
}
.icon-icon51:before {
  content: "\eb3d";
}
.icon-map01:before {
  content: "\eb3e";
}
.icon-map02:before {
  content: "\eb3f";
}
.icon-icon52:before {
  content: "\eb40";
}
.icon-icon53:before {
  content: "\eb41";
}
.icon-map03:before {
  content: "\eb42";
}
.icon-map04:before {
  content: "\eb43";
}
.icon-map05:before {
  content: "\eb44";
}
.icon-map06:before {
  content: "\eb45";
}
.icon-map07:before {
  content: "\eb46";
}
.icon-map08:before {
  content: "\eb47";
}
.icon-map09:before {
  content: "\eb48";
}
.icon-map10:before {
  content: "\eb49";
}
.icon-map11:before {
  content: "\eb4a";
}
.icon-map12:before {
  content: "\eb4b";
}
.icon-map13:before {
  content: "\eb4c";
}
.icon-map14:before {
  content: "\eb4d";
}
.icon-map15:before {
  content: "\eb4e";
}
.icon-map16:before {
  content: "\eb50";
}
.icon-map17:before {
  content: "\eb51";
}
.icon-map18:before {
  content: "\eb52";
}
.icon-map19:before {
  content: "\eb53";
}
.icon-icon-74:before {
  content: "\eb54";
}
.icon-structure01:before {
  content: "\eb55";
}
.icon-structure02:before {
  content: "\eb56";
}
.icon-structure03:before {
  content: "\eb57";
}
.icon-structure04:before {
  content: "\eb58";
}
.icon-structure05:before {
  content: "\eb59";
}
.icon-structure06:before {
  content: "\eb5a";
}
.icon-structure07:before {
  content: "\eb5b";
}
.icon-structure08:before {
  content: "\eb5c";
}
.icon-structure09:before {
  content: "\eb5d";
}
.icon-structure10:before {
  content: "\eb5e";
}
.icon-structure11:before {
  content: "\eb5f";
}
.icon-structure12:before {
  content: "\eb60";
}
.icon-structure13:before {
  content: "\eb61";
}
.icon-structure14:before {
  content: "\eb62";
}
.icon-structure15:before {
  content: "\eb63";
}
.icon-structure16:before {
  content: "\eb64";
}
.icon-transport01:before {
  content: "\e900";
}
.icon-transport02:before {
  content: "\e901";
}
.icon-transport03:before {
  content: "\e902";
}
.icon-transport04:before {
  content: "\e903";
}
.icon-transport05:before {
  content: "\e904";
}
.icon-transport06:before {
  content: "\e905";
}
.icon-transport07:before {
  content: "\e906";
}
.icon-transport08:before {
  content: "\e907";
}
.icon-transport09:before {
  content: "\e908";
}
.icon-transport10:before {
  content: "\e909";
}
.icon-transport11:before {
  content: "\e90a";
}
.icon-transport12:before {
  content: "\e90b";
}
.icon-transport13:before {
  content: "\e90c";
}
.icon-transport14:before {
  content: "\e90d";
}
.icon-transport15:before {
  content: "\e90e";
}
.icon-transport16:before {
  content: "\e90f";
}
.icon-transport17:before {
  content: "\e910";
}
.icon-transport18:before {
  content: "\e911";
}
.icon-transport19:before {
  content: "\e912";
}
.icon-phone01:before {
  content: "\e913";
}
.icon-phone02:before {
  content: "\e914";
}
.icon-phone03:before {
  content: "\e915";
}
.icon-phone04:before {
  content: "\e916";
}
.icon-phone05:before {
  content: "\e917";
}
.icon-phone06:before {
  content: "\e918";
}
.icon-phone07:before {
  content: "\e919";
}
.icon-phone08:before {
  content: "\e91a";
}
.icon-notice01:before {
  content: "\e91b";
}
.icon-notice02:before {
  content: "\e91c";
}
.icon-notice03:before {
  content: "\e91d";
}
.icon-notice04:before {
  content: "\e91e";
}
.icon-notice05:before {
  content: "\e91f";
}
.icon-notice06:before {
  content: "\e920";
}
.icon-notice07:before {
  content: "\e921";
}
.icon-notice08:before {
  content: "\e922";
}
.icon-notice09:before {
  content: "\e923";
}
.icon-clock01:before {
  content: "\e924";
}
.icon-clock02:before {
  content: "\e925";
}
.icon-clock03:before {
  content: "\e926";
}
.icon-clock04:before {
  content: "\e927";
}
.icon-clock05:before {
  content: "\e928";
}
.icon-clock06:before {
  content: "\e929";
}
.icon-talk01:before {
  content: "\e92a";
}
.icon-talk02:before {
  content: "\e92b";
}
.icon-talk03:before {
  content: "\e92c";
}
.icon-talk04:before {
  content: "\e92d";
}
.icon-talk05:before {
  content: "\e92e";
}
.icon-talk06:before {
  content: "\e92f";
}
.icon-talk07:before {
  content: "\e930";
}
.icon-talk08:before {
  content: "\e931";
}
.icon-talk09:before {
  content: "\e932";
}
.icon-talk10:before {
  content: "\e933";
}
.icon-talk11:before {
  content: "\e934";
}
.icon-talk12:before {
  content: "\e935";
}
.icon-person01:before {
  content: "\e936";
}
.icon-person02:before {
  content: "\e937";
}
.icon-person03:before {
  content: "\e938";
}
.icon-person04:before {
  content: "\e939";
}
.icon-person05:before {
  content: "\e93a";
}
.icon-person06:before {
  content: "\e93b";
}
.icon-person07:before {
  content: "\e93c";
}
.icon-person08:before {
  content: "\e93d";
}
.icon-person09:before {
  content: "\e93e";
}
.icon-person10:before {
  content: "\e93f";
}
.icon-person11:before {
  content: "\e940";
}
.icon-person12:before {
  content: "\e941";
}
.icon-person13:before {
  content: "\e942";
}
.icon-person14:before {
  content: "\e943";
}
.icon-person15:before {
  content: "\e944";
}
.icon-person16:before {
  content: "\e945";
}
.icon-person17:before {
  content: "\e946";
}
.icon-person18:before {
  content: "\e947";
}
.icon-person19:before {
  content: "\e948";
}
.icon-person20:before {
  content: "\e949";
}
.icon-person21:before {
  content: "\e94a";
}
.icon-person22:before {
  content: "\e94b";
}
.icon-person23:before {
  content: "\e94c";
}
.icon-person24:before {
  content: "\e94d";
}
.icon-person25:before {
  content: "\e94e";
}
.icon-person26:before {
  content: "\e94f";
}
.icon-person27:before {
  content: "\e950";
}
.icon-person28:before {
  content: "\e951";
}
.icon-person29:before {
  content: "\e952";
}
.icon-person30:before {
  content: "\e953";
}
.icon-person31:before {
  content: "\e954";
}
.icon-hand01:before {
  content: "\e955";
}
.icon-hand02:before {
  content: "\e956";
}
.icon-hand03:before {
  content: "\e957";
}
.icon-hand04:before {
  content: "\e958";
}
.icon-hand05:before {
  content: "\e959";
}
.icon-hand06:before {
  content: "\e95a";
}
.icon-hand07:before {
  content: "\e95b";
}
.icon-hand08:before {
  content: "\e95c";
}
.icon-hand09:before {
  content: "\e95d";
}
.icon-hand10:before {
  content: "\e95e";
}
.icon-finance01:before {
  content: "\e95f";
}
.icon-finance02:before {
  content: "\e960";
}
.icon-finance03:before {
  content: "\e961";
}
.icon-finance04:before {
  content: "\e962";
}
.icon-finance05:before {
  content: "\e963";
}
.icon-finance06:before {
  content: "\e964";
}
.icon-finance07:before {
  content: "\e965";
}
.icon-finance08:before {
  content: "\e966";
}
.icon-finance09:before {
  content: "\e967";
}
.icon-finance10:before {
  content: "\e968";
}
.icon-finance11:before {
  content: "\e969";
}
.icon-finance12:before {
  content: "\e96a";
}
.icon-finance13:before {
  content: "\e96b";
}
.icon-finance14:before {
  content: "\e96c";
}
.icon-finance15:before {
  content: "\e96d";
}
.icon-finance16:before {
  content: "\e96e";
}
.icon-finance17:before {
  content: "\e96f";
}
.icon-finance18:before {
  content: "\e970";
}
.icon-finance19:before {
  content: "\e971";
}
.icon-shopping01:before {
  content: "\e972";
}
.icon-shopping02:before {
  content: "\e973";
}
.icon-shopping03:before {
  content: "\e974";
}
.icon-shopping04:before {
  content: "\e975";
}
.icon-shopping05:before {
  content: "\e976";
}
.icon-shopping06:before {
  content: "\e977";
}
.icon-shopping07:before {
  content: "\e978";
}
.icon-shopping08:before {
  content: "\e979";
}
.icon-shopping09:before {
  content: "\e97a";
}
.icon-shopping10:before {
  content: "\e97b";
}
.icon-shopping11:before {
  content: "\e97c";
}
.icon-shopping12:before {
  content: "\e97d";
}
.icon-shopping13:before {
  content: "\e97e";
}
.icon-shopping14:before {
  content: "\e97f";
}
.icon-shopping15:before {
  content: "\e980";
}
.icon-shopping16:before {
  content: "\e981";
}
.icon-shopping17:before {
  content: "\e982";
}
.icon-shopping18:before {
  content: "\e983";
}
.icon-shopping19:before {
  content: "\e984";
}
.icon-shopping20:before {
  content: "\e985";
}
.icon-shopping21:before {
  content: "\e986";
}
.icon-shopping22:before {
  content: "\e987";
}
.icon-shopping23:before {
  content: "\e988";
}
.icon-finance20:before {
  content: "\e989";
}
.icon-finance21:before {
  content: "\e98a";
}
.icon-finance22:before {
  content: "\e98b";
}
.icon-finance23:before {
  content: "\e98c";
}
.icon-finance24:before {
  content: "\e98d";
}
.icon-finance25:before {
  content: "\e98e";
}
.icon-finance26:before {
  content: "\e98f";
}
.icon-finance27:before {
  content: "\e990";
}
.icon-finance28:before {
  content: "\e991";
}
.icon-finance29:before {
  content: "\e992";
}
.icon-finance30:before {
  content: "\e993";
}
.icon-finance31:before {
  content: "\e994";
}
.icon-finance32:before {
  content: "\e995";
}
.icon-finance33:before {
  content: "\e996";
}
.icon-finance34:before {
  content: "\e997";
}
.icon-finance35:before {
  content: "\e998";
}
.icon-event01:before {
  content: "\e999";
}
.icon-event02:before {
  content: "\e99a";
}
.icon-event03:before {
  content: "\e99b";
}
.icon-event04:before {
  content: "\e99c";
}
.icon-event05:before {
  content: "\e99d";
}
.icon-event06:before {
  content: "\e99e";
}
.icon-event07:before {
  content: "\e99f";
}
.icon-event08:before {
  content: "\e9a0";
}
.icon-event09:before {
  content: "\e9a1";
}
.icon-event10:before {
  content: "\e9a2";
}
.icon-event11:before {
  content: "\e9a3";
}
.icon-event12:before {
  content: "\e9a4";
}
.icon-event13:before {
  content: "\e9a5";
}
.icon-event14:before {
  content: "\e9a6";
}
.icon-event15:before {
  content: "\e9a7";
}
.icon-event16:before {
  content: "\e9a8";
}
.icon-event17:before {
  content: "\e9a9";
}
.icon-picture01:before {
  content: "\e9aa";
}
.icon-picture02:before {
  content: "\e9ab";
}
.icon-picture03:before {
  content: "\e9ac";
}
.icon-picture04:before {
  content: "\e9ad";
}
.icon-picture05:before {
  content: "\e9ae";
}
.icon-picture06:before {
  content: "\e9af";
}
.icon-picture07:before {
  content: "\e9b0";
}
.icon-picture08:before {
  content: "\e9b1";
}
.icon-picture09:before {
  content: "\e9b2";
}
.icon-picture10:before {
  content: "\e9b3";
}
.icon-picture11:before {
  content: "\e9b4";
}
.icon-picture12:before {
  content: "\e9b5";
}
.icon-picture13:before {
  content: "\e9b6";
}
.icon-paper01:before {
  content: "\e9b7";
}
.icon-paper02:before {
  content: "\e9b8";
}
.icon-paper03:before {
  content: "\e9b9";
}
.icon-paper04:before {
  content: "\e9ba";
}
.icon-paper05:before {
  content: "\e9bb";
}
.icon-paper06:before {
  content: "\e9bc";
}
.icon-paper07:before {
  content: "\e9bd";
}
.icon-paper08:before {
  content: "\e9be";
}
.icon-paper09:before {
  content: "\e9bf";
}
.icon-paper10:before {
  content: "\e9c0";
}
.icon-paper11:before {
  content: "\e9c1";
}
.icon-paper12:before {
  content: "\e9c2";
}
.icon-paper13:before {
  content: "\e9c3";
}
.icon-paper14:before {
  content: "\e9c4";
}
.icon-paper15:before {
  content: "\e9c5";
}
.icon-paper16:before {
  content: "\e9c6";
}
.icon-paper17:before {
  content: "\e9c7";
}
.icon-paper18:before {
  content: "\e9c8";
}
.icon-paper19:before {
  content: "\e9c9";
}
.icon-paper20:before {
  content: "\e9ca";
}
.icon-paper21:before {
  content: "\e9cb";
}
.icon-paper22:before {
  content: "\e9cc";
}
.icon-paper23:before {
  content: "\e9cd";
}
.icon-paper24:before {
  content: "\e9ce";
}
.icon-paper25:before {
  content: "\e9cf";
}
.icon-paper26:before {
  content: "\e9d0";
}
.icon-paper27:before {
  content: "\e9d1";
}
.icon-cyber01:before {
  content: "\e9d2";
}
.icon-cyber02:before {
  content: "\e9d3";
}
.icon-cyber03:before {
  content: "\e9d4";
}
.icon-cyber04:before {
  content: "\e9d5";
}
.icon-cyber05:before {
  content: "\e9d6";
}
.icon-cyber06:before {
  content: "\e9d7";
}
.icon-cyber07:before {
  content: "\e9d8";
}
.icon-cyber08:before {
  content: "\e9d9";
}
.icon-cyber09:before {
  content: "\e9da";
}
.icon-cyber10:before {
  content: "\e9db";
}
.icon-cyber11:before {
  content: "\e9dc";
}
.icon-cyber12:before {
  content: "\e9dd";
}
.icon-cyber13:before {
  content: "\e9de";
}
.icon-cyber14:before {
  content: "\e9df";
}
.icon-cyber15:before {
  content: "\e9e0";
}
.icon-cyber16:before {
  content: "\e9e1";
}
.icon-cyber17:before {
  content: "\e9e2";
}
.icon-cyber18:before {
  content: "\e9e3";
}
.icon-cyber19:before {
  content: "\e9e4";
}
.icon-cyber20:before {
  content: "\e9e5";
}
.icon-cyber21:before {
  content: "\e9e6";
}
.icon-cyber22:before {
  content: "\e9e7";
}
.icon-cyber23:before {
  content: "\e9e8";
}
.icon-cyber24:before {
  content: "\e9e9";
}
.icon-cyber25:before {
  content: "\e9ea";
}
.icon-cyber26:before {
  content: "\e9eb";
}
.icon-cyber27:before {
  content: "\e9ec";
}
.icon-cyber28:before {
  content: "\e9ed";
}
.icon-cyber29:before {
  content: "\e9ee";
}
.icon-cyber30:before {
  content: "\e9ef";
}
.icon-cyber31:before {
  content: "\e9f0";
}
.icon-business01:before {
  content: "\e9f1";
}
.icon-business02:before {
  content: "\e9f2";
}
.icon-business03:before {
  content: "\e9f3";
}
.icon-business04:before {
  content: "\e9f4";
}
.icon-business05:before {
  content: "\e9f5";
}
.icon-business06:before {
  content: "\e9f6";
}
.icon-business07:before {
  content: "\e9f7";
}
.icon-business08:before {
  content: "\e9f8";
}
.icon-business09:before {
  content: "\e9f9";
}
.icon-business10:before {
  content: "\e9fa";
}
.icon-business11:before {
  content: "\e9fb";
}
.icon-business12:before {
  content: "\e9fc";
}
.icon-business13:before {
  content: "\e9fd";
}
.icon-business14:before {
  content: "\e9fe";
}
.icon-business15:before {
  content: "\e9ff";
}
.icon-business16:before {
  content: "\ea00";
}
.icon-business17:before {
  content: "\ea01";
}
.icon-business18:before {
  content: "\ea02";
}
.icon-business19:before {
  content: "\ea03";
}
.icon-business20:before {
  content: "\ea04";
}
.icon-business21:before {
  content: "\ea05";
}
.icon-nature01:before {
  content: "\ea06";
}
.icon-nature02:before {
  content: "\ea07";
}
.icon-nature03:before {
  content: "\ea08";
}
.icon-nature04:before {
  content: "\ea09";
}
.icon-nature05:before {
  content: "\ea0a";
}
.icon-nature06:before {
  content: "\ea0b";
}
.icon-nature07:before {
  content: "\ea0d";
}
.icon-nature08:before {
  content: "\ea0e";
}
.icon-nature10:before {
  content: "\ea0f";
}
.icon-food01:before {
  content: "\ea10";
}
.icon-food02:before {
  content: "\ea11";
}
.icon-food03:before {
  content: "\ea12";
}
.icon-food04:before {
  content: "\ea13";
}
.icon-food05:before {
  content: "\ea14";
}
.icon-food06:before {
  content: "\ea15";
}
.icon-food07:before {
  content: "\ea16";
}
.icon-food08:before {
  content: "\ea17";
}
.icon-food09:before {
  content: "\ea18";
}
.icon-food10:before {
  content: "\ea19";
}
.icon-food11:before {
  content: "\ea1a";
}
.icon-food12:before {
  content: "\ea1b";
}
.icon-science01:before {
  content: "\ea1c";
}
.icon-science02:before {
  content: "\ea1d";
}
.icon-science03:before {
  content: "\ea1e";
}
.icon-science04:before {
  content: "\ea1f";
}
.icon-science05:before {
  content: "\ea20";
}
.icon-science06:before {
  content: "\ea21";
}
.icon-science07:before {
  content: "\ea22";
}
.icon-science08:before {
  content: "\ea23";
}
.icon-science09:before {
  content: "\ea24";
}
.icon-science10:before {
  content: "\ea25";
}
.icon-science11:before {
  content: "\ea26";
}
.icon-science12:before {
  content: "\ea27";
}
.icon-science13:before {
  content: "\ea28";
}
.icon-science14:before {
  content: "\ea29";
}
.icon-science15:before {
  content: "\ea2a";
}
.icon-science16:before {
  content: "\ea2b";
}
.icon-science17:before {
  content: "\ea2c";
}
.icon-weather01:before {
  content: "\ea2d";
}
.icon-science18:before {
  content: "\ea2e";
}
.icon-weather02:before {
  content: "\ea2f";
}
.icon-weather03:before {
  content: "\ea30";
}
.icon-weather04:before {
  content: "\ea31";
}
.icon-weather05:before {
  content: "\ea32";
}
.icon-weather06:before {
  content: "\ea33";
}
.icon-weather07:before {
  content: "\ea34";
}
.icon-weather08:before {
  content: "\ea35";
}
.icon-weather09:before {
  content: "\ea36";
}
.icon-weather10:before {
  content: "\ea37";
}
.icon-weather11:before {
  content: "\ea38";
}
.icon-weather12:before {
  content: "\ea39";
}
.icon-weather13:before {
  content: "\ea3a";
}
.icon-weather14:before {
  content: "\ea3b";
}
.icon-weather15:before {
  content: "\ea3c";
}
.icon-weather16:before {
  content: "\ea3d";
}
.icon-weather17:before {
  content: "\ea3e";
}
.icon-logo01:before {
  content: "\eae2";
}
.icon-logo02:before {
  content: "\eae3";
}
.icon-logo03:before {
  content: "\eae4";
}
.icon-logo04:before {
  content: "\eae5";
}
.icon-logo05:before {
  content: "\eae6";
}
.icon-logo06:before {
  content: "\eae7";
}
.icon-logo07:before {
  content: "\eae8";
}
.icon-logo08:before {
  content: "\eae9";
}
.icon-logo09:before {
  content: "\eaea";
}
.icon-logo10:before {
  content: "\eaeb";
}
.icon-logo11:before {
  content: "\eaec";
}
.icon-logo12:before {
  content: "\eaed";
}
.icon-logo13:before {
  content: "\eaee";
}
.icon-logo14:before {
  content: "\eaef";
}
.icon-logo15:before {
  content: "\eaf0";
}
.icon-logo16:before {
  content: "\eaf1";
}
.icon-logo17:before {
  content: "\eaf2";
}
.icon-logo18:before {
  content: "\eaf3";
}
.icon-logo19:before {
  content: "\eaf4";
}
.icon-logo20:before {
  content: "\eaf5";
}
.icon-logo21:before {
  content: "\eaf6";
}
.icon-logo22:before {
  content: "\eaf7";
}
.icon-logo23:before {
  content: "\eaf8";
}
.icon-logo24:before {
  content: "\eaf9";
}
.icon-logo25:before {
  content: "\eafa";
}
.icon-logo26:before {
  content: "\eafb";
}
.icon-logo27:before {
  content: "\eafc";
}
.icon-logo28:before {
  content: "\eafd";
}
.icon-logo29:before {
  content: "\eafe";
}
.icon-logo30:before {
  content: "\eaff";
}
.icon-logo31:before {
  content: "\eb00";
}
.icon-logo32:before {
  content: "\eb01";
}
.icon-logo33:before {
  content: "\eb02";
}
.icon-logo34:before {
  content: "\eb03";
}
.icon-logo35:before {
  content: "\eb04";
}
.icon-logo36:before {
  content: "\eb05";
}
.icon-logo37:before {
  content: "\eb06";
}
.icon-logo38:before {
  content: "\eb07";
}
.icon-logo39:before {
  content: "\eb08";
}
.icon-logo40:before {
  content: "\eb09";
}
.icon-logo41:before {
  content: "\eb0a";
}
